<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barvius.diagnostic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/uiMainStyle">
        <activity android:name="com.barvius.diagnostic.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.barvius.diagnostic.SymptomListActivity" />
        <activity android:name="com.barvius.diagnostic.DiagnoseEditActivity" />
        <activity android:name="com.barvius.diagnostic.DiagnoseListActivity" />
        <activity android:name="com.barvius.diagnostic.TestActivity"></activity>
    </application>

</manifest>